.CounterButton {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee0e3;
}

.CounterButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 34px;
}

.CounterButtonContainer button {
  border: 1px solid #dee0e3;
  height: 100%;
  width: 34px;
}

.CounterButtonContainer span {
  width: 34px;
  height: 100%;
  padding: 10px;
  text-align: center;
  line-height: 100%;
  border-top: 1px solid #dee0e3;
  border-bottom: 1px solid #dee0e3;
}
