.CounterButton {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee0e3;
}

.CounterButtonContainer button {
  border: 1px solid #f1f2f4;
  height: 34px;
}

.CounterButtonContainer span {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #f1f2f4;
}
