.ProductInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dee0e3;
}

.ProductInfo div {
  padding: 0;
}

.ProductImageContainer {
  display: flex;
  background-color: aquamarine;
  height: 183px;
  border: 1px solid #dee0e3;
  position: relative;
  overflow: hidden;
}

.ProductImageContainer img {
  width: 103%;
  height: 110%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ProductName {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  display: flex;
  flex-direction: column;
}

.ProductPriceContainer {
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.PriceSale {
  display: block;
  color: #6b90dc;
  font-size: 24px;
  font-weight: 700;
}

.PriceOriginal {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.PriceBefore {
  display: block;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.PriceAfter {
  display: block;
  font-size: 22px;
  font-weight: 400;
}
