.ProductImageContainer {
  display: flex;
  background-color: aquamarine;
  height: 183px;
  border: 1px solid #dee0e3;
}

.ProductImageContainer img {
  width: 100%;
  height: 183px;
  object-fit: cover;
}
